@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

/*TODO: Add a background color or image to your website*/
body {
 background-color: #F0FFFF; 
}
/*TODO: Side navigation bar*/
.wrapper{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #FFF0F5;
  padding: 30px 0;
}



.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
  color:#bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background: #DDA0DD;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}


h1 {
  background-color: #fff;
}

.information{
  padding-left: 200px;
}

h2 {
  padding-top: 0px;
  background-color: #E6E6FA
}

.events{
  background-color: #E6E6FA;
  line-height: 1.2;
}

.Barriers{
  background-color: #B0E0E6;
}
/* boxes for random */
.containergrid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  background-color:#E6E6FA;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 300px;
  margin: 35px;

}
.realityheader{
  background-color:#E6E6FA;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  text-align: center;
  margin: 35px;
  
}

.boxes{
  height: 250px;
  width: 80%;
  background-color: #FFDEAD;
  padding: 20px 40px;
  text-align: center;
  margin: 35px;
  border: thin black solid;
  font-size: 20px;
  box-sizing: border-box;
}

}
/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */


/*About Me Page of Website */
.impact{
  text-align: center;
}


/*TODO: Use the * selector to reset the margin and padding to 0px*/





/*TODO: Add styling rules for the text and images on your website.*/




/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 